@media all and (min-width:850px) {
    body{
        font-size: 1rem;
    }
    .showcase{
        padding: 60px 0 155px;
        background: right / 42% no-repeat url(../images/hero-desktop.jpg),left / 58% no-repeat url(../images/bg-pattern-desktop.svg),linear-gradient(135deg, #fff, #fff5f5);
    }
    .wrap{
        max-width: 1116px;
    }
    .container{
        padding: 0;
        max-width: 455px;
        margin-left: 0;
    }
    .card-logo{
        max-width: 175px;
        padding: 0;
    }
    .banner-mobile{
        display: none;
    }
    .content-text{
        padding: 90px 0 0px;
    }
    .text-content{
        text-align: left;

        h1{
            letter-spacing: 15px;
            font-size: 4.5rem;
            margin-bottom: 35px;
        }
    }

    .wrap-form{
        margin-top: 40px;

        form{
            position: relative;
        }

        input[type="text"]{
            padding: 19px 100px 19px 30px;
        }

        button{
            padding: 11px 43px;
            margin-left: -101px;
        }
        .invalid-feedback{
            position: absolute;
            bottom: -35px;
        }
    }
}